@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');

* {

	margin:0;
	padding: 0;
	box-sizing: border-box;

}






body {
	
	height: 100%;
	width:100%;
	overflow: hidden;
	font-family: 'Titillium Web', sans-serif;
	color:white;



}



.container {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(road-nature-trees-branches-38537.jpg);
	background-size: cover;
	background-position: center;
}


.information {

	width: 550px;
	height: 400px;
	background-color:rgba(0, 0, 0,0.3); 
  	border: 1px solid black;
 

	
	
	
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	
	border-radius: 30px;
}

.information h3 {

	margin-top: 5px;
}


.timezone {
	font-size:20px; 
}


#temperature {
	font-size: 40px;
}




